include senf/*.py
include tests/*.py
include examples/*.py
include LICENSE
include MANIFEST.in
include README.rst
include NEWS.rst
recursive-include docs *.py Makefile *.rst *.png *.svg *.ico *.css
prune docs/_build
